.cart-item-container{
    display: flex;

    .cart-item-image{
        width: 20%;
        height: 20%;
        margin: 0 5% 0 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

  .cart-item-details{
        width: 60%;
        height: 20%;
        margin: 0 5% 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cart-item-name{
            font-size: 1.2rem;
            font-weight: 700;
        }
        .cart-info-1{
            display: flex;
            justify-content: space-between;
            .cart-item-name{
                font-size: 1.2rem;
                font-weight: 700;
            }
                .cart-item-price{
                    font-size: 1.2rem;
                    font-weight: 700;
                    min-width: 100px;
                    padding-left: 40px;
                }
            
        }
        .cart-info-2{
            display: flex;
            justify-content: space-between;
            .cart-item-size{
                font-size: 1.2rem;
                font-weight: 700;
            }
            .cart-item-toppings{
                font-size: 1.2rem;
                font-weight: 700;
                display: flex;
                flex-direction: column;
            }
            
        }
    }
}